In [35]:
my_set1 = {1, 2, 3, 4, 5}
print(my_set1)

my_set2 = {11, 12, 13, 14, 15}
print(my_set2)

my_set3 = {'a', 'b', 'c', 'd'}
print(my_set3)

my_set4= {'a', 'b', 'c', 'd', 1, 2, 3, 5, 10, 7}
print(my_set4)

{1, 2, 3, 4, 5}
{11, 12, 13, 14, 15}
{'c', 'a', 'b', 'd'}
{1, 2, 3, 5, 7, 'c', 10, 'a', 'b', 'd'}

In [59]:
my_set1.add(6) #add new value in set
print(my_set1)

my_set1.add(5) #try to add duplicate value
print(my_set1)

my_set1.remove(6) #remove specific value from set; We knwe that that value is in set
print(my_set1)

my_set1.discard(6) #remove specific value from set not giving error
print(my_set1)

my_set1.add(6) #add new value in set
print(my_set1)


my_set1.pop# random value remove
print(my_set1)

my_set1.clear # clear full set but we have ser without value not error as we are just cleararing full set
print(my_set1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [61]:
my_set1.remove(6) #remove specific value from set; We knwe that that value is in set
print(my_set1)

my_set1.pop # random value remove as per index
print(my_set1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [88]:
tuple1 = (1, 2)
tupleA = ('a', 'b')

swap_tup = (tupleA , tuple1)

print(tuple1, tupleA) #Before swap
print(swap_tup) #After swap

(1, 2) ('a', 'b')
(('a', 'b'), (1, 2))